body{

background: url('Images/Screenshot\ 2021-05-10\ at\ 12.18.36.png') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
font-family: 'Shadows Into Light', cursive;
}

.product_row{

    margin-top:100px;
   

}


.product-selector{

    text-align: center;
    background-color:#DB162F;
    transition: all 0.5s ease;
    color:#ffffff;
    padding:0.5%;
    border-style: solid;
    border-width: 2px;
   

}


.product-selector:hover{
    background-color:#000080;
}


.animation_row{

    text-align: center;
    font-size: 25;
    color:#e31837;

}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  .card-img-top {

    height:270px;

  }

  .btn {

    background-color:#e31837;
    border-color: #e31837;
    width: 100%;
    font-size:20px;

  }
  .btn:hover {

    background-color:#006491;
    border-color: #006491;

  }

 p {

    font-size:22.5px;

 }

 h3 {

    font-weight:bold;

 }

 .ml1 {
    font-weight: 900;
    font-size: 6.5em;
    margin-top:-80px;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #006491;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }